# Application
APP_ENV=development
APP_PORT=8000

# PostgreSQL - Local Development
POSTGRES_DB=critical_events
POSTGRES_ADMIN_USER=postgres_admin
POSTGRES_ADMIN_PASSWORD=

# Application Database Account
DB_HOST=postgres
DB_PORT=5432
DB_NAME=critical_events
DB_USER=critical_event_app
DB_PASSWORD=

# AWS
AWS_REGION=us-east-1
SQS_QUEUE_URL=
S3_BUCKET_NAME=
SES_SENDER_EMAIL=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
